# Python
__pycache__/
*.pyc
.env
venv/
venv_test/

# Jupyter Notebook
.ipynb_checkpoints
.virtual_documents/

# IDE
.idea/
.vscode/

# Data - We only track code, not large data files
data/raw/actions/
data/raw/faces/*
*.pkl
*.h5