# --- CORE ML & CV ---
tensorflow
keras
numpy
opencv-python
mediapipe

# --- FACE RECOGNITION ---
deepface
retina-face

# --- API & WEB SERVER ---
fastapi[all]

# --- DATA & UTILITY ---
pandas
scikit-learn
gcsfs
google-cloud-storage
Pillow
tqdm
albumentations
cmake
protobuf